<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iFix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D611BFA1FFD7EDA0015CF35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D611C0E1FFD7EDB0015CF35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D611C191FFD7EDB0015CF35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
